[submodule "apps/tailscale-git-ops"]
	path = apps/tailscale-git-ops
	url = git@github.com:tailscale/gitops-acl-action.git
[submodule "apps/release-please/repo"]
	path = apps/release-please/repo
	url = https://github.com/googleapis/release-please.git
[submodule "apps/keepalived-exporter"]
	path = apps/keepalived-exporter
	url = https://github.com/mehdy/keepalived-exporter.git
